<div id="content">
	<div id="boardHeader">
		<div class="rightCornerButtonBar">
			<div class="smallRoundButton" ng-click="newLane()" title="Adds a new lane to '{{board.name}}' board">+</div>
		</div>
		<edit-in-place value="board.name" on-change="saveBoard()"> </edit-in-place>
	</div>
	<div>
		<div ng-repeat="lane in board.lanes" class="laneHeader" yk-lane-drag-drop lane-index="$index" ng-transclude>
			<edit-in-place value="lane.name" on-change="saveBoard()"></edit-in-place>
			<div class="rightCornerButtonBar">
				<div class="smallRoundButton" ng-click="addCard($index)" title="Adds a new card to '{{lane.name}}'">+</div>
			</div>
		</div>
	</div>
	<div>

		<div ng-repeat="lane in board.lanes" class="lane" yk-card-drop-target lane-index="$index" ng-transclude>
			<yk-card ng-repeat="card in lane.cards" card="card" lane-index="$parent.$index" card-index="$index"></yk-card>
		</div>
	</div>
</div>

<div class="blockScreen" ng-show="showEditCard || showNewLaneForm">
</div>

<div id="newCard" ng-show="showEditCard">
	<form novalidate name="editCardForm">
		<div style="position: relative">
			<input type="text" placeholder="Card name" class="newCardTitle" ng-model="selectedCard.name" required/>
			<div class="rightCornerButtonBar">
				<div class="smallRoundButton" title="Delete card" ng-click="deleteSelectedCard()">-</div>
				<div class="smallRoundButton" title="Finish" ng-click="saveCard()">&#10003;</div>
			</div>
		</div>

		<textarea class="newCardText" ng-model="selectedCard.description" placeholder="Describe your card" required></textarea>
	</form>
</div>

<div id="newLane" ng-show="showNewLaneForm">
	<form novalidate name="newLaneForm">
		<div style="position: relative">
			<div class="header">Add a new lane</div>
			<div class="rightCornerButtonBar">
				<div class="smallRoundButton" title="Cancel" ng-click="cancelNewLane()">x</div>
				<div class="smallRoundButton" title="Add" ng-click="addNewLane()">&#10003;</div>
			</div>
		</div>
		<input type="text" placeholder="Lane name" ng-model="newLaneName" required />
	</form>
</div>
