<html ng-app="yaks">
	<head>
		<script type="text/javascript" src="js/angular/angular.js"></script>

		<script type="text/javascript" src="js/yaks.js"></script>
		<script type="text/javascript" src="js/boards.js"></script>
		
		<link rel="stylesheet" href="css/yaks.css" />
	</head>
	<body ng-controller="MainController">
		<div id="sideMenu">
			<div id="logo">Logo goes here</div>
			My boards: <br/>
			<select ng-model="selectedBoard" ng-options="board.name for board in boards" class="boardSelect">
			</select>
		</div>
		
		<div id="content">
			<div id="boardHeader">{{selectedBoard.name}}</div>
			<div>
				<div ng-repeat="lane in selectedBoard.lanes" class="laneHeader" >
					{{lane.name}}
					<div class="rightCornerButtonBar">
						<div class="smallRoundButton" ng-click="addCard(lane)" title="Adds a new card to '{{lane.name}}'">+</div>
					</div>
				</div>
			</div>
			<div>
				<div ng-repeat="lane in selectedBoard.lanes" class="lane">
					<div ng-repeat="card in lane.cards" class="card" ng-dblclick="editCard(card)">
						<div class="cardTitle" title="{{card.name}}">
							{{card.name}}
						</div>
						<div class="cardDescription">{{card.description}}</div>
						<div style="background: white; height: 5px; width: 100%; position: absolute; left:0; bottom: 0"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="blockScreen" ng-show="showNewCard || showEditCard">
		</div>
		<div id="newCard" ng-show="showNewCard">
			<form novalidate name="newCardForm">
				<div style="position: relative">
					<input type="text" placeholder="Card name" class="newCardTitle" ng-model="newCardName" required/>
					<div class="rightCornerButtonBar">
						<div class="smallRoundButton" title="Cancel" ng-click="cancelNewCard()"><div style="position: relative; top: -2px; left: -1px">&#10007;</div></div>
						<div class="smallRoundButton" title="Create card" ng-click="saveCard()">&#10003;</div>
					</div>
				</div>
				
				<textarea class="newCardText" ng-model="newCardText" placeholder="Describe your card" required></textarea>
			</form>
		</div>

		<div id="newCard" ng-show="showEditCard">
			<form novalidate name="editCardForm">
				<div style="position: relative">
					<input type="text" placeholder="Card name" class="newCardTitle" ng-model="selectedCard.name" required/>
					<div class="rightCornerButtonBar">
						<div class="smallRoundButton" title="Finish" ng-click="showEditCard = false">&#10003;</div>
					</div>
				</div>
				
				<textarea class="newCardText" ng-model="selectedCard.description" placeholder="Describe your card" required></textarea>
			</form>
		</div>
	</body>
</html>
